@use "variables";

.blog-item {
    margin-bottom: 50px;
    &:first-of-type {
        margin-top: 50px;
    }

    @media (min-width: variables.$min-desktop) {
        margin-bottom: 80px;
    }
    .blog-item-title {
        margin-block-start: 0;
        margin-block-end: 0;
        a {
            text-decoration: none;
        }
    }
    .blog-item-byline {
        margin-block-start: 15px;
        margin-block-end: 12px;
        p {
            margin-block-start: 0;
            margin-block-end: 0;
            color: var(--text-color);
            font-family: var(--header-font-family);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 2.1px;
            margin-right: 5px;
            @media (min-width: 600px) {
                font-size: 16px;
            }
        }
        svg {
            fill: var(--primary);
            color: var(--primary);
        }
    }
    .blog-item-author {
        a {
            text-decoration: none;
        }
    }
    .blog-item-summary {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

// Singular blog page.
.blog.page-page {
    .blog-item-byline {
        margin-block-end: 50px;
    }
}
