@use "variables";

// Default button style
.button, a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 47px;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    text-decoration: none;
    line-height: 1;
    text-align: center;

    &:hover {
        color: var(--link-color-hover);
        border: 2px solid var(--link-color-hover);
    }
    &:active {
        color: var(--link-color-active);
        border: 2px solid var(--link-color-active);
    }
    &.secondary {
        background-color: var(--accent);
        &:hover,
        &:active {
            background-color: var(--butter);
            color: var(--link-color-active);
            border: 2px solid var(--link-color-active);
        }
    }
    &.tertiary {
        color: var(--white);
        background-color: var(--navy);
        &:hover {
            color: var(--white);
            background-color: var(--black);
        }
        &:active {
            color: var(--white);
            background-color: var(--white);
        }
    }
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: variables.$min-desktop) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.button + .button {
    margin-top: 0;
    margin-bottom: 30px;
    @media (min-width: variables.$min-desktop) {
        margin-top: 0;
        margin-bottom: 50px;
    }
}
