@use 'variables';
@use 'global';

.footer {
	// Space from content.
	margin-top: 70px;
	padding-top: 60px;
	padding-bottom: 60px;
	color: var(--footer-link-color);

	.h2 {
		margin-top: 0;
		color: var(--white)
	}

	a {
		color: var(--footer-link-color);
		&:hover {
			color: var(--footer-link-color-hover);
		}
	}
	// Reset lists.
	ul {
		@extend .ul-reset;
		padding-inline-start: 0;
	}

	.footer-menu-cta-wrapper {
		@media (min-width: variables.$min-desktop) {
			display: flex;
			align-items: flex-start;
			margin-bottom: 100px;
		}
	}

	.footer-menu {
		@media (min-width: variables.$min-desktop) {		
			margin-top: 20px;	
			ul {
				display: flex;
				li{
					margin-right: 40px;
				}
			}

			a {
				font-weight: 700;
			}
			.top-menu-item {
				font-size: 1.25em;
				font-weight: 700;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
	}

	.footer-cta {
		@media (min-width: variables.$min-desktop) {
			flex-grow: 0;
		}
		a {
			width: 100%;
			font-size: 20px;
			@media (min-width: variables.$min-desktop) {
				width: max-content;
				margin: 0;
				margin-left: 20px;
			}
			@media (min-width: variables.$desktop-width) {
				margin-left: 40px;
			}
		}
	}

	.footer-logo-social-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		.social-pre-text {
			display: block;
			font-size: 1em;
			font-family: var(--header-font-family);
			font-weight: 700;
			margin-right: 20px;
			line-height: 1em;
		}
	}

	.logo-link {
		display: none;
		@media (min-width: variables.$min-desktop) {
			display: block;
		}
	}

	.social-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 10px;
		a {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			font-size: .75em;
			font-weight: 700;
			color: var(--white);

			img {
				margin-right: 10px;
			}

			&:hover {
				color: var(--butter);
			}
		}
	}

	.copyright {
		font-size: .75em;
		margin-top: 20px;
		a {
			font-weight: 700;
		}
		.copyright-accessibility-git-wrapper {
			@media (max-width: variables.$mobile-max) {
				margin-top: 20px;
				a {
					& + a {
						border-left: 1px solid var(--white);
						padding-left: 10px;
					}
				}
				a:first-of-type {
					margin-right: 10px;
				}
			}
			@media (min-width: variables.$min-desktop) {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-left: 80px;
				text-align: right;
			}
		}
		p {
			margin: 0;
		}
		@media (min-width: variables.$min-desktop) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
	@media (min-width: variables.$min-desktop) {
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: 100px;
	}
}
