// Define CSS variables
:root {
  --header-font-family: "Agbalumo", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto,
    Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --body-font-family:"Afacad", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto,
    Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --black: rgba(10, 10, 10, 1);
  --white: #ffffff;
  --cream: rgba(235, 233, 225, 1);
  --primary: rgba(0, 102, 56, 1);
  --accent: rgba(239, 177, 29, 1);
  --navy: rgba(25, 25, 112, 1);
  --violet: rgba(241, 232, 255, 1);
  --purple: rgba(25, 25, 112, 1);
  --butter: rgba(255, 242, 200, 1);
  --wine: rgba(137, 21, 119, 1);
  --forest: rgb(1, 72, 41);

  --gray-200: #eaecf0;
  --gray-300: #e5e5e5;
  --gray-400: #e4e4e4;
  --gray-600: #b1b1b1;
  --gray-700: #767676;
  --gray-800: #5f6367;

  --text-color: var(--black);

  --link-color: var(--navy);
  --link-color-hover: var(--purple);
  --link-color-bg-hover: var(--violet);
  --link-color-active: var(--navy);
  --link-color-bg-active: var(--violet);
  --link-color-visited: var(--wine);


  --menu-link-color: var(--white);
  --menu-link-color-hover: var(--butter);
  --menu-link-color-hover-bg: var(--forest);
  
  --footer-link-color: var(--white);
  --footer-link-color-hover: var(--butter);
  --footer-link-color-hover-bg: var(--forest);
  --gutter: 25px;
  --container-width: 1000px;
  --content-width: 750px;


  // Pagefind styles from https://pagefind.app/docs/ui-usage/#customising-the-styles
  --pagefind-ui-text: var(--text-color) !important;
  --pagefind-ui-font: var(--header-font-family) !important;
}

// Define SCSS variables.
$desktop-width: calc(1200px + 25px + 25px);
$min-desktop: 1000px;
$mobile-max: 999px;
