// Import theme styles
@use "variables";
@use "normalize";
@use "accessibility";
@use "fonts";
@use "global";
@use "typography";
@use "header";
@use "language-selector";
@use "footer";
@use "buttons";
@use "iframe";
@use "images";
@use "horizontal-rule";
@use "content";
@use "accordion";
@use "blog";
@use "pagination";
@use "breadcrumb";
@use "tables";
@use "shortcodes/card";
@use "shortcodes/columns";
@use "shortcodes/toc";
@use "shortcodes/intro";
@use "shortcodes/youtube-enhanced";

// Custom styles - add your overrides and custom styles below
body{
  background-color: var(--cream);
}

article {
  margin: 60px 0;
}

.home-content {
  section {
    max-width: 700px;
  }
}

.home-header{
  display: flex;
  align-items: center;
  @media (min-width: variables.$min-desktop) {
    justify-content: space-between;
  }

  .home-title {
    flex-shrink: 2;
    display: flex;
    align-items: center;
  }

  .home-face {
    display: flex;
    align-items: center;
    @media (min-width: variables.$min-desktop) {
      justify-content: center;
    }
  }

  h1{
    font-size: 4em;
    line-height: 1;
    margin: 0;
    @media (min-width: variables.$min-desktop) {
      font-size: 8em;      
    }
  }
}

.js-the-button-with-the-face{
  background-color: var(--primary); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  display: block;
  border-radius: 100%;
  overflow: hidden;
  height: 125px;
  width: 125px;
  @media (min-width: variables.$min-desktop) {
    height: 280px;
    width: 280px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}



