// Import theme styles
@use "variables";
@use "normalize";
@use "accessibility";
@use "fonts";
@use "global";
@use "typography";
@use "header";
@use "language-selector";
@use "footer";
@use "buttons";
@use "iframe";
@use "images";
@use "horizontal-rule";
@use "content";
@use "accordion";
@use "blog";
@use "pagination";
@use "breadcrumb";
@use "tables";
@use "shortcodes/card";
@use "shortcodes/columns";
@use "shortcodes/toc";
@use "shortcodes/intro";
@use "shortcodes/youtube-enhanced";

// Custom styles - add your overrides and custom styles below
body{
  background-color: var(--cream);
}

.header{
  background: var(--primary);
  background: linear-gradient(180deg, #006638 0%, #307533 20%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  &:after {
    // Remove box shadow from header
    content: none;
  }

  .has-menu-active & {
    background: var(--white);
  }
}

.main-menu {
  @media (min-width: variables.$min-desktop) {
    background-color: transparent;
  }
}

.header-shape-divider {
    color: var(--cream);
    overflow: hidden;
}

.header-shape-divider {
  svg {
    display: block;
    width: 150%;
    height: 80px;
    @media (min-width: variables.$min-desktop) {
      width: 100%;
      height: 137px;
    }
  }
}

.footer{
  position: relative;
  background: var(--primary);
  background: linear-gradient(0deg, #006638 0%, #307533 80%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.footer-shape-divider {
  color: var(--cream);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-shape-divider svg {
  display: block;
  width: 100%;
  height: 75px;
}

.home-split{
  @media (min-width: variables.$min-desktop) {
    display: flex;
  }
  .home-header{
    display: flex;

    h1{
      font-size: 4em;
    }

    @media (min-width: variables.$min-desktop) {
      display: block;
      h1 {
        font-size: 8em;
        line-height: 1;
      }
    }

    .home-face {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: variables.$min-desktop) {
        display: none;
      }
    }
  }

  .home-face-desktop{
    display: none;
    @media (min-width: variables.$min-desktop) {
      display: block;
    }
  }
}

.js-the-button-with-the-face{
  background-color: var(--primary); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  display: block;
  border-radius: 100%;
  overflow: hidden;
  height: 125px;
  width: 125px;
  @media (min-width: variables.$min-desktop) {
    height: 280px;
    width: 280px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

article {
  margin: 60px 0;
}

